@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00008b;
  --primaryShade1: #2a2a9e;
  --primaryShade2: #5555b2;
  --primaryShade3: #8080c5;
  --primaryShade4: #f3f9fe;
  --primaryShade5: #cccce8;
  --dashboardBlue: #0177fb;
  --dashboardLightGray: #eaebf0;
  --dashboardDarkBlue: #272d37;

  --darkColors-brown: #311412;
  --darkColors-black: #0a0404;
  --darkColors-grey: #5c5858;
  --darkColors-gray: #5f6d7e;
  --darkColors-lightGrey: #848181;
  --darkColors-lighterGrey: #cecdcd;
  --darkColors-lightestGrey: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  /* position: relative; */
}

ul.recharts-default-legend,
.recharts-legend-item,
.recharts-legend-wrapper {
  min-width: max-content;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
  }
  .section {
    @apply-- px-[80px];
  }
  .mobile-section {
    @apply px-5 w-full;
  }
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .inputField {
    @apply text-darkColors-grey h-[60px] max-w-full mb-6 border-darkColors-grey border-[0.8px] outline-none p-[10px] font-urbanist rounded-[5px] /* sm:w-full sm:max-w-md */;
  }
  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }
}
